

/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* estilo mobile */

header{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2fr;
    align-items: center;
    background-color: #7f488a;
}
header p span{
    display: block;
}
header .texto-header{
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}
header img {
    width: 100%;
    height: auto;
    object-fit: contain;
}
header .navbar{
    grid-column: span 3;
}

main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    background-color: #131313;
}
main h1{
    display: none;
}
main img{
    grid-column: 1;
    width: 80%;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    justify-self: center;
}
main a{
    grid-column: 2;
    text-align: center;
    color: #F74843;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
}

    /* estilo desktop y pc */

@media (min-width: 768px){
    header{
        padding: 10px 40px;
        align-items: center;
    }

    header img {
        width: 60%;
        justify-self: center;
    }

    main{
        grid-template-columns: repeat(3, 1fr);
    }
    main h1{
        display: block;
        text-align: center;
        color: #F74843;
        padding: 20px;
    }
    .bienvenidos-main {
        grid-column: span 3;
    }
    main img:nth-of-type(1) { grid-column: 1; grid-row: 2; }
    main img:nth-of-type(2) { grid-column: 2; grid-row: 2; }
    main img:nth-of-type(3) { grid-column: 3; grid-row: 2; }

    main a:nth-of-type(1) { grid-column: 1; grid-row: 3; }
    main a:nth-of-type(2) { grid-column: 2; grid-row: 3; }
    main a:nth-of-type(3) { grid-column: 3; grid-row: 3; }

    main a{
    text-align: center;
    }
}


footer{
    background-color: #000000;
    color: whitesmoke;
    text-align: center;
}