/* reset */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* estilo mobile de la pagina principal (index) */


body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "izq centro der"
        "izq2 centro2 der2"
        "nav nav nav";
    background-color: #7f488a;
}

.secret {
    grid-area: centro;
    place-content: end;
}

.shop {
    grid-area: centro2;
}

.logo-principal {
    grid-area: izq2;
    grid-row: span 2;
    padding: 5px;
}

.logo-mobile {
    grid-area: der;
    grid-row: span 2;
    padding: 5px;
}

header nav {
    grid-area: nav;
}

.secret,
.shop {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    font-size: 2rem;
}


header img {
    width: 90%;
    justify-self: center;
}

.btn-outline-success:hover,
.btn-outline-success:focus,
.btn-outline-success:active {
    background-color: #F74843;
    border-color: #F74843;
    color: white;
    box-shadow: none;
}


.main-index {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    background-color: #131313;
}

main h1 {
    display: none;
}

.main-index div {
    display: flex;
    width: 100%;
}

.main-index div img {
    width: 50%;
    aspect-ratio: 1;
    object-fit: contain;
    padding-left: 20px;
}

.main-index div a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    text-decoration: none;
    color: #F74843;
    font-size: 1.5rem;
    font-weight: bold;
}

footer {
    padding: 10px;
    margin-top: auto;
    background-color: #000000;
    color: whitesmoke;
    text-align: center;
}


/* estilo tablet y desktop*/

@media (min-width: 768px) {
    header {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            "izq centro der"
            "nav nav nav";
        align-items: center;
        background-color: #7f488a;
        padding: 10px;
    }

    .logo-principal {
        grid-area: centro;
    }

    .secret {
        grid-area: izq;
        display: flex;
    }

    .shop {
        grid-area: der;
        display: flex;
    }

    .logo-mobile {
        display: none;
    }

    .textos-header {
        display: none;
    }

    .secret,
    .shop {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-weight: bold;
        font-size: 3rem;
    }

    @media (min-width: 1024px) {
        header {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-areas:
                "izq centro der"
                "nav nav nav";
            align-items: center;
            background-color: #7f488a;
            padding: 10px;
        }

        .logo-principal {
            grid-area: centro;
        }

        .secret {
            grid-area: izq;
            display: flex;
        }

        .shop {
            grid-area: der;
            display: flex;
        }

        .logo-mobile {
            display: none;
        }

        .textos-header {
            display: none;
        }

    }