


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2fr;
    align-items: center;
    background-color: #7f488a;
}
header p span{
    display: block;
}
header .texto-header{
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}
header img {
    width: 100%;
    height: auto;
    object-fit: contain;
}
header .navbar{
    grid-column: span 3;
}

main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    background-color: #131313;
}
main h1{
    display: none;
}
main img{
    grid-column: 1;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    align-items: center;
}
main a{
    grid-column: 2;
    text-align: center;
    color: #F74843;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
}

@media screen and (min-width: 1024px) {
    header{
        margin-bottom: 10px;
    }
    main{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 30%);
        column-gap: 1rem;
    }

    main .img-dos, main .img-cinco{
        display: block;
    }

    main .img-uno, main .img-tres{
        grid-row: span 2;
    }
    main .img-cuatro{
        grid-column: auto;
    }
    main .img-cinco{
        grid-column: span 3;
    }

    
}
/*
header {
    background-color: rgb(20, 20, 20);
    color: rgb(255, 105, 18);
    text-align: center;
}

header img{

}
header nav {
    color: white;
}

main {
    background-color: rgb(81, 140, 192);
    text-align: center;
}

main h1{
    color:red;
}

.servicios-dis {
    text-align: center;
    color: rgb(255, 255, 255);
}

.productos {
    text-align: center;
}

.quejas-dis { 
    text-align: center;
    color: rgb(0, 0, 0);
}

.quejas-tit { 
    text-align: center;
    color: rgb(0, 0, 0);
}

footer {
    text-align: center;
    color: aliceblue;
    background-color: black;
}
*/