/* reset */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}


/* estilo mobile de la pagina principal (index) */


body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #131313;
}

header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "izq centro der"
        "izq2 centro2 der2"
        "nav nav nav";
    background-color: #7f488a;
    padding: 10px
}

.secret {
    grid-area: centro;
    place-content: end;
}

.shop {
    grid-area: centro2;
}

.logo-principal {
    grid-area: izq2;
    grid-row: span 2;
}

.logo-mobile {
    grid-area: der;
    grid-row: span 2;
}

header nav {
    grid-area: nav;
}

.secret,
.shop {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    font-size: 1.8rem;
}


header img {
    width: 90%;
    justify-self: center;
}

.btn-outline-success:hover,
.btn-outline-success:focus,
.btn-outline-success:active {
    background-color: #F74843;
    border-color: #F74843;
    color: white;
    box-shadow: none;
}


.main-index {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #131313;
}

main h1 {
    display: none;
}

.main-index div {
    display: flex;
    width: 100%;
}

.main-index div img {
    width: 50%;
    aspect-ratio: 1;
    object-fit: contain;
    padding-left: 30px;
}

.main-index div a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    text-decoration: none;
    color: #F74843;
    font-size: 1.6rem;
    font-weight: bold;
}

.main-servicios {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #131313;
    padding-bottom: 2.5rem;
}

.h1-servicios {
    display: flex;
    color: #F74843;
    font-size: 2rem;
    font-weight: bold;
    padding: 2rem;
}

.servicios-dis {
    display: flex;
    color: whitesmoke;
    width: 80%;
    text-align: center;
}

footer {
    padding: 10px;
    margin-top: auto;
    background-color: #000000;
    color: whitesmoke;
    text-align: center;
}


/* estilo tablet*/

@media (min-width: 768px) {
    header {
        grid-template-areas:
            "izq centro der"
            "nav nav nav";
        align-items: center;
        padding: 15px;
    }

    .logo-principal {
        grid-area: centro;
    }

    .secret {
        grid-area: izq;
    }

    .shop {
        grid-area: der;
    }

    .logo-mobile {
        display: none;
    }

    .secret,
    .shop {
        font-size: 2.8rem;
    }

    .main-index div img {
        aspect-ratio: 1.5;
        padding-left: 50px;
    }

    .main-index div a {
        font-size: 2.5rem;
    }

    .h1-servicios {
        font-size: 3rem;
    }

    .servicios-dis {
        font-size: 1.3rem;
    }
}

/* estilo desktop de pagina principal, servicios, productos y quejas */

@media (min-width: 1024px) {

    header img {
        width: 40%;
        aspect-ratio: 1;
        object-fit: contain;
    }

    .main-index {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        background-color: #131313;
        padding-top: 3rem;
    }

    .main-index div {
        display: flex;
        flex-direction: column;
        place-items: center;
    }

    .main-index div img {
        width: 50%;
        aspect-ratio: 1;
        object-fit: contain;
        padding-left: 0px;
    }

    .main-index div a {
        height: 10rem;
    }


}